@font-face {
  font-family: Bungee;
  src: url("./assets/Bungee-Regular.ttf");
}


//we import the variables from index.scss
@import "./index.scss";

#root {
  text-align: center;
  font-family: Bungee;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Car{
  width: 30%;
  margin-bottom: 20px;
  //la bordure a la couleur --accent
  border: 6px solid var(--color-accent);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  transition: all 0.3s ease-in-out;
}

.Car:hover{
box-shadow: 0 0 20px rgba(131, 58, 180, 0.5), 0 0 20px rgba(253, 29, 29, 0.5), 0 0 30px rgba(252, 176, 69, 0.5);}

.AllCarList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}