
.AllCarList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;

}
.HeaderForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.numberOfResults{
    background-color: red !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 2rem;
}

.numberOfResults{
    background-color: red !important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 2rem;
}