
#CarBody{
    letter-spacing: normal;
}

#CarContent{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.carHeader img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 8%;
  }

.carHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    //to ensure that whatever the lenght of the car name is, the div will be the same size
    width: 100%;
    height: 8rem;
}

.carHeader p{
    //we adjust the margin to make sure the text is aligned with the image
    margin-left: 1rem;
}

.card-title {
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.CarMarque{
    color: white;
}

