
#CarBody{
    letter-spacing: normal;
}

#CarContent{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem;
}


.carHeader img {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    border-radius: 8%;
  }

.carHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title {
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
