#CarMarque{
    font-size: 2.5rem;
}

#CarModele{
    font-size: 2rem;
    margin-top: -3.3rem;
}

#CarBody{
    letter-spacing: normal;
}

img{
    width: 33%;
    height: 33%;
    border-radius: 2%;
}

#CarContent{
    position: relative;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
