.type {
	font-size: 1.7em;
	position: relative;
	left: -700px;
	margin-left: 50%;
	width: 1400px;
	text-align: center;
	border: 6px solid var(--color-accent);
	border-radius: 20px;
	box-shadow: 0 0 10px #ccc;
	transition: all 0.3s ease-in-out;
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	gap: 10px 2em;
	padding-bottom: 30px;
}

.type:hover{
	transform: scale(1.02);
	box-shadow: 0 0 20px #ccc;
}

select {
	width: 150px;
	height: 25px;
	font-size: 15px;
}

textarea {
	width: 80px;
	height: 18px;
	font-size: 15px;
}

.submit {
	width: 210px;
	height: 80px;
	color: var(--color--accent-darker);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
	position: relative;
>>>>>>> b7507a4 (Police correcte)
=======
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
>>>>>>> 6a498b4 (Police correcte)
=======
>>>>>>> ea23464 (Fonctionnel)
	font-size: 30px;
=======
	position: relative;
	left: -100px;
	margin-left: 50%;
	font-size: 50px;
>>>>>>> a92e97f (Update CarFinder.scss)
=======
	font-size: 30px;
>>>>>>> f00a9e4 (Police correcte)
	border: 6px solid var(--color-accent);
	border-radius: 20px;
	box-shadow: 0 0 10px #ccc;
	transition: all 0.3s ease-in-out;
	margin-bottom: 2%;
}

.submit:hover {
	color:darksalmon;
	transform: scale(1.02);
	box-shadow: 0 0 20px #ccc;
}

abbr {
	text-decoration: none;
}
