

.HeaderContainer-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_reverse {
    transform: scaleX(-1);
}

.ImageContainer-data {
    margin: 1.5rem;
}

.brand {
    font-size: 1.5rem;
    text-align: center;
    color: wheat;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.TableContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row;
  text-align: center;
  justify-content: center;
  align-items: stretch;
}


.table {
    display: flex;
}

.card-title-data{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: wheat;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.data-body-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #7D4E57;
    flex: 1 1 400px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}
h5 {
    margin: 8px 0 24px 0;
}

h1 {
    margin: 0 0 0 0;
}

.CarbonChart, .FuelChart, .EcologicalChart {
    width: 100%;
    height: 100%;
    max-height: 325px;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
  
    canvas {
      width: 100% !important;
      height: 100% !important; 
    }

    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}

.AllChart {
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;

    canvas {
      width: 100% !important;
      height: 100% !important; 
    }

    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
}


  