@import "../index.scss";

.HomePage {
  height: 100vh;
  position: relative;
}

.HomePageTitle {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.HomePageButton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--color-accent-darker);
  color: #fff;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

.HomePageButton:hover {
  background-color: var(--color-accent);
  color: var(--color-accent-darker);
}



@keyframes blinking-shadow {
  0% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0 0 5px var(--color-accent), 0 0 10px var(--color-accent), 0 0 20px var(--color-accent), 0 0 40px var(--color-accent);
  }
  100% {
    text-shadow: 0;
  }
}
