.form-container {
    background-color: var(--color--accent-darker);
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
}
.form-container:hover {
    animation: shadow 3s ease-in-out infinite;
}
  
.form-title {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
}
  
.form-field {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-row .form-field {
    flex: 1;
}

.textarea-field {
    height: 150px;
    resize: vertical;
    width: calc(100% - 18px);
}

.button {
    width: 100%;
}

.form-message {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.confirmation-message {
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.795);
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

@media (max-width: 1000px) {
    .form-row {
        flex-direction: column; 
    }

    .textarea-field {
        width: 100%;
    }

    .button {
        width: calc(100% + 18px);
    }
}

@media screen and (min-width: 1701px) {
    .getInTouchFormulaire {
        margin-top: -24rem;
    }
}
