#TopBar{
    width: 100%;
    top:0;
    border: 3px solid #eaeaea;
    border-radius: 2%;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#TopBar p {
    font-size: 2rem;
}

.TopBarText{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.TopBarTextSmall{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem !important;
}