#TopBar{
    width: 100%;
    top:0;
    border: 3px solid #eaeaea;
    border-radius: 2%;
    margin-bottom: 3rem;
    margin-top: 1rem;
    padding: 3rem;
}

#TopBar p {
    font-size: 4rem;
}

.TopBarText{
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    //on mobile
    @media (max-width: 768px) {
        font-size: 1.5rem !important;
    }
}

.TopBarTextSmall{
    margin-left: 1rem;
    margin-top: 4rem;
    font-size: 2.2rem !important;
    //on mobile
    @media (max-width: 768px) {
        font-size: 1.5rem !important;
    }
    //we position it on the bottom
}

.TopBarTextSmall::before{
    content: "ඞ";
    margin-right: 1rem;
    margin-left: 1rem;
}